@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 16px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.wrapper {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(74, 40, 0, 1) 100%
  );
  width: 100%;
}

.container {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

header {
  padding: 50px 0;
}

header .logo {
  text-transform: uppercase;
  font-size: 29px;
  font-weight: 800;
}

header nav {
  float: right;
  width: 50%;
  z-index: 2;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  color: #fff;
  font-size: 14px;
}

header nav ul li.active::after {
  content: "";
  display: block;
  width: 40px;
  height: 5px;
  background: #dc7000;
  border-radius: 20px;
  position: relative;
  top: 10px;
  left: -15px;
}

header nav ul li:not(.active):not(.btn) a:hover {
  border-bottom: 5px solid #dc7000;
}

header nav ul li.btn a {
  background: #fa9021;
  padding: 9px 17px;
  border-radius: 6px;
  transition: 500ms all ease;
}

header nav ul li.btn a:hover {
  background: #fa3e21;
}

.hero--info {
  margin-top: 100px;
  max-width: 527px;
  height: 512px;
}

.hero--info h2 {
  color: #e87d0e;
  font-size: 20px;
  font-weight: 700;
}

.hero--info h1 {
  font-size: 48px;
  font-weight: 900;
}

.hero--info p {
  margin: 20px 0;
  padding-right: 12px;
}

.hero--info .btn {
  background: linear-gradient(
    96deg,
    rgba(250, 131, 5, 1) 0%,
    rgba(251, 158, 60, 1) 100%
  );
  color: #fff;
  border-radius: 40px;
  padding: 14px 30px;
  border: none;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.25s ease;
}

.hero--info .btn:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.hero--image {
  position: absolute;
  right: -40px;
  bottom: 0;
  z-index: 1;
}

.tranding {
  padding-top: 80px;
  margin: 70px;
}

.elements {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.tranding h3 {
  font-weight: 700;
  font-size: 31px;
}

.tranding .see-all {
  border-radius: 10px;
  background: #25211d;
  color: #fff;
  font-size: 20px;
  padding: 8px 20px;
  float: right;
  display: block;
  transition: all 500ms ease;
}

.tranding .see-all:hover {
  transform: scale(1.1);
}

.tranding .games {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tranding .games .block {
  border-radius: 20px;
}

.tranding .games span {
  display: block;
  text-align: center;
  margin-top: 12px;
}

.tranding .games span img {
  position: relative;
  top: 5px;
  margin-right: 7px;
}

.spiderman {
  padding: 50px 0;
  margin-left: 70px;
  margin-right: 70px;
}

.spiderman h2 {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  width: 860px;
  padding-left: 280px;
  margin-bottom: 80px;
}

.spiderman h4 {
  font-size: 26px;
  font-weight: 600;
  padding-bottom: 14px;
}

.spiderman p {
  width: 545px;
  line-height: 2;
}

.banner-element {
  right: 0;
  margin-right: 200px;
  z-index: 1;
}

.spiderman img {
  z-index: 2;
}
